@font-face {
    font-family: "Ostrich Sans";
    src: url("ostrich-sans/ostrich-regular-webfont.eot");
    src: local("☺"),
        url("ostrich-sans/ostrich-regular-webfont.woff") format("woff"),
        url("ostrich-sans/ostrich-regular-webfont.otf") format("opentype"),
        url("ostrich-sans/ostrich-regular-webfont.svg#filename") format("svg");
}

body, p {
    font-size: 1em;
}

h1 {
    display: inline-block;
    margin: 0;
    padding: 0.2ex 0.5ex 0ex 0.5ex;

    position: absolute;
    left: 0;

    background: -webkit-gradient(linear, left top, right top, from(#39B4FF), to(#32DA10));
    /*background: #F24F1A;*/
    color: white;
}

h1, h2 {
    font-family: "Ostrich Sans", sans-serif;
    font-size: 3em;
    line-height: 1em;
}

.container {
    width: 720px;
}

h2 {
    background: transparent;
    color: black;
}

h2 a {
    color: black;
}
h2 a:hover {
    color: black;
    text-decoration: underline;
}

.project-logo, .maker-logo {
    display: inline-block;
    float: left;
    margin: 0 1em 1ex 0;
}

#project-chart {
    margin: 4ex 0;
}

#project-chart #first-month {
    float: left;
}

#project-chart #last-month {
    float: right;
}

#project-chart .month {
    position: relative;
    overflow: hidden;
    height: 1em;
    border: 1px dashed black;
    text-align: center;
    padding: 1ex 0;
    margin-bottom: 1ex;
}
