@font-face {
    font-family: "Ostrich Sans";
    src: url("ostrich-sans/ostrich-regular-webfont.eot");
    src: local("☺"),
        url("ostrich-sans/ostrich-regular-webfont.woff") format("woff"),
        url("ostrich-sans/ostrich-regular-webfont.otf") format("opentype"),
        url("ostrich-sans/ostrich-regular-webfont.svg#filename") format("svg");
}

body {
    padding-top: 0;
}

body, div, p, label, input {
    font-size: 1em;
}

h1, h2, #project-form input[name="name"] {
    font-family: "Ostrich Sans", sans-serif;
    font-size: 3em;
    line-height: 1em;
}

#project-form input[name="name"] {
    height: 0.8em;
}

h1 {
    display: inline-block;
    margin: 0 0 2ex;
    padding: 0.2ex 0.5ex 0ex 0.5ex;

    font-size: 2em;

    background: -webkit-gradient(linear, left top, right top, from(#39B4FF), to(#32DA10));
    /*background: #F24F1A;*/
    color: white;
}

h1 a, h2 a {
    color: inherit;
    text-decoration: none;
}
h1 a:hover, h2 a:hover {
    color: inherit;
    text-decoration: underline;
}

.container {
    width: 720px;
    margin-bottom: 10ex;
}

h2 {
    background: transparent;
    color: black;
}

.project-logo, .maker-logo {
    display: inline-block;
    float: left;
    margin: 0 1em 1ex 0;
    width: 75px;
    height: 75px;
}

.big-logo {
    width: 150px;
    height: 150px;
}

#project-chart {
    margin: 4ex 0;
}

#project-chart #first-month {
    float: left;
}

#project-chart #last-month {
    float: right;
}

#project-chart .month {
    position: relative;
    overflow: hidden;
    height: 1em;
    border: 1px dashed black;
    text-align: center;
    padding: 1ex 0;
    margin-bottom: 1ex;
}

.display-form form, .display-form.edit .display, .display-form.edit .edit-button {
    display: none;
}
.display-form .display, .display-form.edit form {
    display: block;
}

.history {
    margin-top: 4ex;
}
