{% macro render_field_help(field) %}
    {% if field.type != 'HiddenField' and field.description %}
        <p class="help-block">{{ field.description }}</p>
    {% endif %}
{% endmacro %}
{% macro render_field(field) %}
    <div class="control-group">
        {% if field.type == 'BooleanField' %}
            <label><input type="checkbox" id="{{ field.id }}" name="{{ field.name }}" {% if field.data %}checked="checked"{% endif %} value="1"> {{ field.label.text }}</label>
        {% elif field.type == 'HiddenField' %}
            <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{% if field.data is not none %}{{ field.data }}{% endif %}">
        {% else %}
            <input class="input-xxlarge" id="{{ field.id }}" name="{{ field.name }}" value="{% if field.data is not none %}{{ field.data }}{% endif %}" placeholder="{{ field.label.text }}">
        {% endif %}
        {{ render_field_help(field) }}
    </div>
{% endmacro %}
{% macro render_tiny_field(field) %}
    {% if field.type == 'BooleanField' %}
        <label><input type="checkbox" id="{{ field.id }}" name="{{ field.name }}" {% if field.data %}checked="checked"{% endif %} value="1"> {{ field.label.text }}</label>
    {% elif field.type == 'MonthField' %}
        <input class="input-small date month" id="{{ field.id }}" name="{{ field.name }}" value="{% if field.data is not none %}{{ field.data|date("%Y-%m") }}{% endif %}" placeholder="{{ field.label.text }}">
    {% elif field.type == 'HiddenField' %}
        <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{% if field.data is not none %}{{ field.data }}{% endif %}">
    {% else %}
        <input class="input-large" id="{{ field.id }}" name="{{ field.name }}" value="{% if field.data is not none %}{{ field.data }}{% endif %}" placeholder="{{ field.label.text }}">
    {% endif %}
{% endmacro %}
