<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block pagetitle %}makerbase{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ pagedescription }}">
        <meta name="author" content="{{ pageauthor }}">

        <!-- Le styles -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
        <script type="text/javascript">
            window.jqq = [];
            window.$ = function(f) {
                jqq.push(f);
            };
        </script>

        {% block htmlhead %}
        <style type="text/css">
            #github-signin-btn {
                line-height: 22px;
            }
            #github-signin-btn:before {
                display: inline-block;
                vertical-align: middle;
                content: "";
                width: 22px;
                height: 22px;
                padding: 0;
                margin: 0;
                background: transparent url({{ url_for('static', filename='auth-icons.png') }}) no-repeat -44px 0px;
            }
        </style>
        {% endblock %}
    </head>

    <body>

        <!--
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project name</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        -->


        <div class="container">

            <div>
                <h1><a href="{{ url_for('home') }}">makerbase</a></h1>

                {% if current_user.is_anonymous() %}
                    <a id="github-signin-btn" class="btn" href="{{ url_for('signin_github') }}">
                        Sign in with <strong>GitHub</strong>
                    </a>
                {% else %}
                    NO BUTTON
                {% endif %}
            </div>

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                    <div class="alert {% if category != 'message' %}alert-{{ category }}{% endif %}">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript">
            $.each(jqq, function(i, val) {
                $(val);
            });
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='d3.v2.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>

        <!--
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-modal.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-scrollspy.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tab.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-popover.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>
        -->

    </body>
</html>
