{% extends "base.html" %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        #about p {
            margin: 0 0 4ex 0;
            font-size: 1.2em;
            line-height: 1.5em;
        }

        #facts .fact {
            margin: 2ex 0;
        }
        #facts .fact-body {
            font-size: 1.5em;
        }

        .tiny-tiny-logo {
            width: 16px;
            height: 16px;
            float: none;
            margin: 0;
        }

        #find-input {
            font-size: 1.5em;
            height: 1em;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="about">
        <p>Makerbase is a directory of people who make bits and atoms and the things they made.</p>
    </div>

    <div id="find">
        <h2>Find a project or maker</h2>

        <form class="clearfix" action="{{ url_for('api_autocomplete') }}" method="POST">
            <div class="control-group">
                <div class="dropdown">
                    <input class="input-xxlarge" id="find-input" name="find-input" placeholder="Enter a name">
                    <ul id="find-dropdown" class="dropdown-menu"></ul>
                </div>
            </div>
        </form>
    </div>

    <div id="facts">
        <h2>The new facts</h2>
        {% for histitem in history %}
            {% set maker = histitem.maker %}
            {% set project = histitem.project %}
            <div class="fact clearfix">

                <span class="fact-body">
                    <a href="{{ url_for('maker', slug=maker._id) }}" class="maker-logo tiny-logo"><img src="{% if maker.avatar_url %}{{ maker.avatar_url }}{% else %}{{ url_for('static', filename='default-maker.png') }}{% endif %}" width="75" height="75" alt=""></a>
                    <a href="{{ url_for('project', slug=project._id) }}" class="project-logo tiny-logo"><img src="{% if project.avatar_url %}{{ project.avatar_url }}{% else %}{{ url_for('static', filename='default-project.png') }}{% endif %}" width="75" height="75" alt=""></a>

                    <a href="{{ url_for('maker', slug=histitem.maker._id) }}">{{ histitem.maker.name }}</a>
                    worked on
                    <a href="{{ url_for('project', slug=project._id) }}">{{ project.name }}</a>
                </span>
                according to
                <a href="{{ histitem.user.profile_url }}" class="maker-logo tiny-tiny-logo"><img src="{{ histitem.user.avatar_url }}" width="12" height="12" alt=""></a>
                <a href="{{ histitem.user.profile_url }}">{{ histitem.user.name }}</a>

            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        function autocompleteMakerName() {
            var name = $('#find-input').val();
            $.ajax({
                url: '{{ url_for('api_autocomplete') }}',
                data: {
                    q: name
                },
                dataType: 'json',  // received
                success: function (data) {
                    // Show the autocomplete dropdown.
                    // Fill in the dropdown with these names.
                    var $derpdown = $('#find-dropdown');
                    $derpdown.html('');
                    $.each(data, function (i, val) {
                        var $item = $('<li/>');
                        var $itemLink = $('<a/>');
                        var $itemImage = $('<img/>');
                        $itemImage.attr('width', '24');
                        $itemImage.attr('height', '24');
                        $itemImage.attr('src', val.avatar_url || '{{ url_for('static', filename='default-maker.png') }}');
                        $itemLink.append($itemImage);
                        $itemLink.attr('href', val.permalink);
                        $itemLink.append(' ' + val.name);
                        $item.append($itemLink);
                        $derpdown.append($item);
                    });

                    {% if current_user.is_authenticated() %}
                        if (data.length) {
                            var $divider = $('<li/>');
                            $divider.addClass('divider');
                            $derpdown.append($divider);
                        }

                        var nameSlug = name.replace(/\s+/g,'-').replace(/[^a-zA-Z0-9\-]/g,'').toLowerCase();
                        var $projectItem = $('<li/>');
                        var $projectItemLink = $('<a/>');
                        var $projectItemImage = $('<i/>');
                        $projectItemImage.addClass('icon-plus');
                        $projectItemLink.append($projectItemImage);
                        $projectItemLink.attr('href', '{{ url_for('project', slug='') }}' + nameSlug + '?create=yes');
                        $projectItem.append($projectItemLink);
                        var $makerItem = $projectItem.clone();

                        $projectItemLink.append(' Add project “' + name + '”');
                        $derpdown.append($projectItem);

                        $makerItem.find('a')
                            .attr('href', '{{ url_for('maker', slug='') }}' + nameSlug + '?create=yes')
                            .append(' Add maker “' + name + '”');
                        $derpdown.append($makerItem);
                    {% else %}
                        if (!data.length) {
                            var $nope = $('<li/>');
                            var $nopeLink = $('<a/>');
                            $nopeLink.text('No projects or makers found.');
                            $nopeLink.click(function () { return false; });
                            $nope.append($nopeLink);
                            $derpdown.append($nope);
                        }
                    {% endif %}

                    $derpdown.show();
                },
                error: {
                    // oop?
                }
            });
        }

        $(function () {
            $('#find-input').keydown(function () {
                $.doTimeout('find-input', 500, autocompleteMakerName);
            }).blur(function () {
                $.doTimeout('find-dropdown-hide', 500, function () {
                    $('#find-dropdown').hide();
                });
            });
            $('#find form').displayForm();
        });
    </script>

{% endblock %}
