{% extends "base.html" %}

{% block pagetitle %}History of {{ maker.name }} on {{ super() }}{% endblock %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        #history .label { font-size: 1em; }
        #history img { vertical-align: middle; }
        .jsondiffpatch-visualdiff-root > .jsondiffpatch-property-name { display: none; }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jsondiffpatch.html.css') }}">
{% endblock %}

{% block htmlfoot %}
    <script type="text/javascript" src="{{ url_for('static', filename='jsondiffpatch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jsondiffpatch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='diff_match_patch_uncompressed.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="maker display-form clearfix">
        <a href="{{ url_for('maker', slug=maker._id) }}" class="maker-logo small-logo">
        {% if maker.avatar_url %}
            <img src="{{ maker.avatar_url }}" width="150" height="150" alt="">
        {% else %}
            <img src="{{ url_for('static', filename='default-maker.png') }}" width="150" height="150" alt="">
        {% endif %}
        </a>

        <h2><a href="{{ url_for('maker', slug=maker._id) }}">{{ maker.name }}</a></h2>

        {% if maker.html_url %}
            <p>
                <a href="{{ maker.html_url }}" rel="nofollow">{{ maker.html_url|pretty_url }}</a>
                <a class="icon-share-alt" href="{{ maker.html_url }}" rel="nofollow"></a>
            </p>
        {% endif %}

        {% if maker.description %}
            <p>{{ maker.description }}</p>
        {% endif %}

    </div>

    <div id="history">
        {% for histitem in history %}

            <p class="histitem" data-hist-id="{{ histitem._id }}">
                {{ histitem.when_date|date("%Y-%m-%d %H:%M:%S") }}

                {% if histitem.action == 'addmaker' %}
                    <span class="label label-success">Created</span>
                {% elif histitem.action == 'editmaker' %}
                    <span class="label label-info">Edited</span>
                {% elif histitem.action == 'addparty' %}
                    <span class="label label-success">Add participation</span>
                {% elif histitem.action == 'editparty' %}
                    <span class="label label-info">Edit participation</span>
                {% endif %}

                <a href="{{ histitem.user.profile_url }}"><img src="{{ histitem.user.avatar_url }}" width="24" height="24" alt=""></a>
                <a href="{{ histitem.user.profile_url }}">{{ histitem.user.name }}</a>

                {{ histitem.reason }}

                <button class="btn diff-button">Show diff</button>
            </p>

        {% else %}
            <p>We don't have any history for {{ maker.name }}. Perhaps someone added them before we were recording history.</p>
        {% endfor %}
    </div>

    {% if history %}
        <script type="text/javascript">
            var oldHistory = {};
            var newHistory = {};
            {% for histitem in history %}
                {% if histitem.old_data %}
                    oldHistory['{{ histitem._id }}'] = {{ histitem.old_data|tojson|safe }};
                {% endif %}
                {% if histitem.new_data %}
                    newHistory['{{ histitem._id }}'] = {{ histitem.new_data|tojson|safe }};
                {% endif %}
            {% endfor %}

            $(function () {
                $('#history .histitem .diff-button').click(function () {
                    var $btn = $(this);
                    var $item = $btn.parents('.histitem');
                    var histid = $item.attr('data-hist-id');

                    var oldItem = oldHistory[histid] || {};
                    var newItem = newHistory[histid] || {};
                    var itemDiff = jsondiffpatch.diff(oldItem, newItem);

                    var $show = $item.next('div');
                    if (!$show.size()) {
                        $show = $('<div/>');
                        $item.after($show);
                    }
                    $show.empty().append(jsondiffpatch.html.diffToHtml(oldItem, newItem, itemDiff));
                });
            });
        </script>
    {% endif %}

{% endblock %}
