{% extends "base.html" %}

{% block pagetitle %}{{ maker.name }} on {{ super() }}{% endblock %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        .edit-button, .maker-body .btn {
            float: right;
            margin-left: 1em;
        }

        body.edit .participant {
            margin-top: 4ex;
        }

        #add-party-form {
            margin-top: 4ex;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="maker display-form clearfix">

        <div class="maker-body display">

            <a href="{{ url_for('maker', slug=maker._id) }}" class="maker-logo big-logo">
            {% if maker.avatar_url %}
                <img src="{{ maker.avatar_url }}" width="150" height="150" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-maker.png') }}" width="150" height="150" alt="">
            {% endif %}
            </a>

            {% if maker_form %}
                <button class="edit-button btn"><i class="icon-edit"></i></button>
            {% endif %}
            <a href="{{ url_for('maker_history', slug=maker._id) }}" class="btn"><i class="icon-calendar"></i> View history</a>

            <h2><a href="{{ url_for('maker', slug=maker._id) }}">{{ maker.name }}</a></h2>

            {% if maker.html_url %}
                <p>
                    <a href="{{ maker.html_url }}" rel="nofollow">{{ maker.html_url|pretty_url }}</a>
                    <a class="icon-share-alt" href="{{ maker.html_url }}" rel="nofollow"></a>
                </p>
            {% endif %}

            {% if maker.description %}
                <p>{{ maker.description }}</p>
            {% endif %}

        </div>

        {% if maker_form %}
            {% from "_form.html" import render_field, render_tiny_field %}
            <form id="maker-form" class="form-inline clearfix" action="{{ url_for('api_maker', slug=maker._id) }}" method="POST">
                <a href="{{ url_for('maker', slug=maker._id) }}" class="maker-logo big-logo">
                {% if maker.avatar_url %}
                    <img id="avatar-image" src="{{ maker.avatar_url }}" width="150" height="150" alt="">
                {% else %}
                    <img id="avatar-image" src="{{ url_for('static', filename='default-maker.png') }}" width="150" height="150" alt="">
                {% endif %}
                </a>
                <fieldset>
                    {{ render_field(maker_form.name) }}
                    {{ render_field(maker_form.avatar_url) }}
                    {{ render_field(maker_form.html_url) }}
                </fieldset>

                <div class="form-actions">
                    {{ render_tiny_field(maker_form.reason) }}
                    <button class="btn btn-primary">Save changes</button>
                    <button class="btn cancel">Cancel</button>
                </div>
            </form>
        {% endif %}

    </div>

    {% if maker_form %}
    <script type="text/javascript">
        function updateAvatarImage() {
            var $avatarUrl = $('#{{ maker_form.avatar_url.id }}');
            $('#avatar-image').attr('src', $avatarUrl.val());
        }

        $(function () {
            $('#{{ maker_form.avatar_url.id }}').keydown(function () {
                $.doTimeout('maker-{{ maker_form.avatar_url.id }}', 500, updateAvatarImage);
            });
            $('#maker-form').displayForm();
        });
    </script>
    {% endif %}

    {% for party in parties %}
        <div class="participant clearfix">

            <a href="{{ url_for('project', slug=party.project._id) }}" class="project-logo">
            {% if party.project.avatar_url %}
                <img src="{{ party.project.avatar_url }}" width="75" height="75" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-project.png') }}" width="75" height="75" alt="">
            {% endif %}
            </a>

            <h3><a href="{{ url_for('project', slug=party.project._id) }}">{{ party.project.name }}</a></h3>

            <p>
                {{ party.role }}<br>
                {{ party.start_date|date('%B %Y') }}
                {% if not party.end_month %}
                    &ndash; <!-- present -->
                {% elif party.end_month == party.start_month and party.end_year == party.start_year %}
                {% else %}
                    &ndash; {{ party.end_date|date('%B %Y') }}
                {% endif %}
            </p>

        </div>
    {% endfor %}

    {% include "maker-chart.html" %}

{% endblock %}
