{% extends "base.html" %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        #edit-button {
            float: right;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="project" class="project clearfix">

        <a href="{{ url_for('project', slug=project._id) }}" class="project-logo big-logo">
        {% if project.avatar_url %}
            <img src="{{ project.avatar_url }}" width="150" height="150" alt="">
        {% else %}
            <img src="{{ url_for('static', filename='default-project.png') }}" width="150" height="150" alt="">
        {% endif %}
        </a>

        {% if current_user.is_authenticated() %}
            <p id="edit-button">
                <button class="btn btn-success"><i class="icon-edit icon-white"></i> Edit {{ project.name }}</button>
            </p>
        {% endif %}

        <h2><a href="{{ url_for('project', slug=project._id) }}">{{ project.name }}</a></h2>

        {% if project.html_url %}
            <p>
                <a href="{{ project.html_url }}" rel="nofollow">{{ project.html_url|pretty_url }}</a>
                <a class="icon-share-alt" href="{{ project.html_url }}" rel="nofollow"></a>
            </p>
        {% endif %}

        {% if project.description %}
            <p>{{ project.description }}</p>
        {% endif %}
    </div>

    {% if current_user.is_authenticated() %}
        {% from "_form.html" import render_field %}
        <form id="project-form" class="form-inline hidden" action="{{ url_for('api_project', slug=project._id) }}" method="POST">
            <a href="{{ url_for('project', slug=project._id) }}" class="project-logo big-logo">
            {% if project.avatar_url %}
                <img src="{{ project.avatar_url }}" width="150" height="150" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-project.png') }}" width="150" height="150" alt="">
            {% endif %}
            </a>
            <fieldset>
                {{ render_field(project_form.name) }}
                {{ render_field(project_form.html_url) }}
                {{ render_field(project_form.description) }}
                {{ render_field(project_form.avatar_url) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button class="btn cancel">Cancel</button>
                </div>
            </fieldset>
        </form>

        <script type="text/javascript">
            $(function () {
                $('#edit-button button').click(function () {
                    $('#project').hide();
                    $('#project-form').show().removeClass('hidden');
                    return false;
                });
                $('#project-form button.cancel').click(function () {
                    $('#project-form').hide();
                    $('#project').show();
                    return false;
                });

                $('#project-form').apiForm({
                    success: function () {
                        console.log('SUCCESS');
                        window.location.reload();
                    },
                    error: function () {
                        console.log('ERR');
                    }
                });
            });
        </script>
    {% endif %}

    {% for party in project.parties %}

        <div class="participant clearfix">

            <a href="{{ url_for('maker', slug=party.maker._id) }}" class="maker-logo">
            {% if party.maker.avatar_url %}
                <img src="{{ party.maker.avatar_url }}" width="75" height="75" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-maker.png') }}" width="75" height="75" alt="">
            {% endif %}
            </a>

            <h3><a href="{{ url_for('maker', slug=party.maker._id) }}">{{ party.maker.name }}</a></h3>
            <p>
                {{ party.role }}<br>
                {{ party.start_date|date('%B %Y') }}
                {% if not party.end_month %}
                    &ndash; <!-- present -->
                {% elif party.end_month == party.start_month and party.end_year == party.start_year %}
                {% else %}
                    &ndash; {{ party.end_date|date('%B %Y') }}
                {% endif %}
            </p>

        </div>

    {% endfor %}

    <div id="project-chart">
        <div class="clearfix">
            <h3 id="first-month" class="bounds"></h3>
            <h3 id="last-month" class="bounds"></h3>
        </div>
        <div id="chart-bars"></div>
    </div>

    <script type="text/javascript">
        var now = new Date();
        var nowMonth = now.getFullYear() * 12 + now.getMonth();

        var months = [
            {% for party in project.parties %}
                {
                    name: '{{ party.maker.name }}',
                    start: {{ party.start_year }} * 12 + {{ party.start_month }},
                    {% if party.end_year %}
                    end: {{ party.end_year }} * 12 + {{ party.end_month }}
                    {% else %}
                    end: nowMonth
                    {% endif %}
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        $(function () {
            var bounds = [
                d3.min($.map(months, function (val) { return val.start })),
                d3.max($.map(months, function (val) { return val.end }))
            ];

            d3.select('#project-chart').selectAll('.bounds')
                .data(bounds)
                .text(function (d) {
                    var date = new Date(Math.floor(d / 12), d % 12, 1);
                    // TODO: handle more locales than just english
                    var stringparts = date.toLocaleString().split(' ');
                    return stringparts[0] + ' ' + stringparts[2];
                });

            var monthPx = d3.scale.linear()
                .domain(bounds)
                .range([0, $('#chart-bars').innerWidth()]);

            var chart = d3.select('#chart-bars').selectAll('div')
                .data(months);
            chart.enter().append('div');
            chart
                .attr('class', 'month')
                .text(function (d) { return d.name })
                .style('left', function (d) { return monthPx(d.start) + 'px' })
                .style('width', function (d) { return (monthPx(d.end) - monthPx(d.start)) + 'px' });
            chart.exit().remove();
        });
    </script>

{% endblock %}
