{% extends "base.html" %}

{% block pagetitle %}{{ project.name }} on {{ super() }}{% endblock %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        .edit-button {
            float: right;
        }

        body.edit .participant {
            margin-top: 4ex;
        }

        #add-party-form {
            margin-top: 4ex;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="project" class="project display-form clearfix">

        <div class="project-body display">

            <a href="{{ url_for('project', slug=project._id) }}" class="project-logo big-logo">
            {% if project.avatar_url %}
                <img src="{{ project.avatar_url }}" width="150" height="150" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-project.png') }}" width="150" height="150" alt="">
            {% endif %}
            </a>

            {% if project_form %}
                <button class="edit-button btn"><i class="icon-edit"></i></button>
            {% endif %}

            <h2><a href="{{ url_for('project', slug=project._id) }}">{{ project.name }}</a></h2>

            {% if project.html_url %}
                <p>
                    <a href="{{ project.html_url }}" rel="nofollow">{{ project.html_url|pretty_url }}</a>
                    <a class="icon-share-alt" href="{{ project.html_url }}" rel="nofollow"></a>
                </p>
            {% endif %}

            {% if project.description %}
                <p>{{ project.description }}</p>
            {% endif %}
        </div>

        {% if project_form %}
            {% from "_form.html" import render_field, render_tiny_field %}
            <form id="project-form" class="form-inline clearfix" action="{{ url_for('api_project', slug=project._id) }}" method="POST">
                <a href="{{ url_for('project', slug=project._id) }}" class="project-logo big-logo">
                {% if project.avatar_url %}
                    <img src="{{ project.avatar_url }}" width="150" height="150" alt="">
                {% else %}
                    <img src="{{ url_for('static', filename='default-project.png') }}" width="150" height="150" alt="">
                {% endif %}
                </a>
                <fieldset>
                    {{ render_field(project_form.name) }}
                    {{ render_field(project_form.html_url) }}
                    {{ render_field(project_form.description) }}
                    {{ render_field(project_form.avatar_url) }}
                </fieldset>

                <div class="form-actions">
                    <button class="btn btn-primary">Save changes</button>
                    <button class="btn cancel">Cancel</button>
                </div>
            </form>
        {% endif %}

    </div>

    <div id="participants">
    {% for party in parties %}

        <div class="participant display-form clearfix">

            <a href="{{ url_for('maker', slug=party.maker._id) }}" class="maker-logo">
            {% if party.maker.avatar_url %}
                <img src="{{ party.maker.avatar_url }}" width="75" height="75" alt="">
            {% else %}
                <img src="{{ url_for('static', filename='default-maker.png') }}" width="75" height="75" alt="">
            {% endif %}
            </a>

            {% if party.form %}
                <button class="edit-button btn"><i class="icon-edit"></i></button>
            {% endif %}

            <h3><a href="{{ url_for('maker', slug=party.maker._id) }}">{{ party.maker.name }}</a></h3>

            <p class="party-info display">
                {{ party.role }}<br>
                {{ party.start_date|date('%B %Y') }}
                {% if not party.end_month %}
                    &ndash; <!-- present -->
                {% elif party.end_month == party.start_month and party.end_year == party.start_year %}
                {% else %}
                    &ndash; {{ party.end_date|date('%B %Y') }}
                {% endif %}
            </p>

            {% if party.form %}
                <form class="party clearfix" action="{{ url_for('api_participation', slug=party._id) }}" method="POST">
                    {{ render_field(party.form.role) }}
                    {{ render_tiny_field(party.form.start_date) }} &ndash; {{ render_tiny_field(party.form.end_date) }}

                    <div class="form-actions">
                        <button class="btn btn-primary">Save changes</button>
                        <button class="btn cancel">Cancel</button>
                    </div>
                </form>
            {% endif %}

        </div>

    {% endfor %}
    </div>

    {% if add_party_form %}
    <div id="add-party-form" class="display-form clearfix">
        <button class="edit-button btn"><i class="icon-plus"></i></button>
        <form class="party clearfix" action="{{ url_for('api_project_parties', slug=project._id) }}" method="POST">

            <span class="maker-logo">
                <img id="add-party-pic" src="{{ url_for('static', filename='default-maker.png') }}" width="75" height="75" alt="">
            </span>

            <div class="control-group">
                <input class="input-xxlarge" id="{{ add_party_form.maker.id }}" name="{{ add_party_form.maker.name }}" value="{% if add_party_form.maker.data is not none %}{{ add_party_form.maker.data }}{% endif %}" placeholder="{{ add_party_form.maker.label.text }}">
                <h3 id="add-party-maker-name">No maker selected</h3>
            </div>
            {{ render_field(add_party_form.role) }}
            {{ render_tiny_field(add_party_form.start_date) }} &ndash; {{ render_tiny_field(add_party_form.end_date) }}

            <div class="form-actions">
                <button class="btn btn-primary">Add participant</button>
                <button class="btn cancel">Cancel</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function updateMakerNameSearch() {
            var name = $('#{{ add_party_form.maker.id }}').val();
            $.ajax({
                url: '{{ url_for('api_maker', slug='') }}' + name,
                dataType: 'json',  // received
                success: function (data) {
                    console.log(data);
                    $('#add-party-pic').attr('src', data.avatar_url);
                    var $link = $('<a/>');
                    $link.attr('href', '{{ url_for('maker', slug='') }}' + name);
                    $link.attr('target', '_new');
                    $link.text(data.name);
                    $('#add-party-maker-name').html($link);
                },
                error: function (data) {
                    $('#add-party-pic').attr('src', '{{ url_for('static', filename='default-maker.png') }}');
                    $('#add-party-maker-name').html('No maker selected');
                }
            });
        }

        $(function () {
            $('#{{ add_party_form.maker.id }}').keydown(function () {
                $.doTimeout('add-party-{{ add_party_form.maker.id }}', 500, updateMakerNameSearch);
            });

            $('#add-party-form form').apiForm({
                success: function () {
                    console.log('SUCCESS');
                    window.location.reload();
                },
                error: function () {
                    console.log('ERR');
                }
            })
        });
    </script>
    {% endif %}

    {% include "project-chart.html" %}

    {% if project_form %}
        <script type="text/javascript">
            $(function () {
                $('#project-form').add('#participants form.party').apiForm({
                    success: function () {
                        console.log('SUCCESS');
                        window.location.reload();
                    },
                    error: function () {
                        console.log('ERR');
                    }
                });
            });
        </script>
    {% endif %}

{% endblock %}
