{% extends "base.html" %}

{% block pagetitle %}History of {{ project.name }} on {{ super() }}{% endblock %}

{% block htmlhead %}
    {{ super() }}
    <style type="text/css">
        #history .label { font-size: 1em; }
        #history img { vertical-align: middle; }
    </style>
{% endblock %}

{% block htmlfoot %}
    <script type="text/javascript" src="{{ url_for('static', filename='jsondiffpatch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='diff_match_patch_uncompressed.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="project display-form clearfix">

        <a href="{{ url_for('project', slug=project._id) }}" class="project-logo small-logo">
        {% if project.avatar_url %}
            <img src="{{ project.avatar_url }}" width="150" height="150" alt="">
        {% else %}
            <img src="{{ url_for('static', filename='default-project.png') }}" width="150" height="150" alt="">
        {% endif %}
        </a>

        <h2><a href="{{ url_for('project', slug=project._id) }}">{{ project.name }}</a></h2>

        {% if project.html_url %}
            <p>
                <a href="{{ project.html_url }}" rel="nofollow">{{ project.html_url|pretty_url }}</a>
                <a class="icon-share-alt" href="{{ project.html_url }}" rel="nofollow"></a>
            </p>
        {% endif %}

        {% if project.description %}
            <p>{{ project.description }}</p>
        {% endif %}

    </div>

    <div id="history">
        {% for histitem in history %}

            <p class="histitem" data-hist-id="{{ histitem._id }}">
                {{ histitem.when_date|date("%Y-%m-%d %H:%M:%S") }}

                {% if histitem.action == 'addproject' %}
                    <span class="label label-success">Created</span>
                {% elif histitem.action == 'editproject' %}
                    <span class="label label-info">Edited</span>
                {% elif histitem.action == 'addparty' %}
                    <span class="label label-success">Add participant</span>
                {% elif histitem.action == 'editparty' %}
                    <span class="label label-info">Edit participant</span>
                {% endif %}

                <a href="{{ histitem.user.profile_url }}"><img src="{{ histitem.user.avatar_url }}" width="24" height="24" alt=""></a>
                <a href="{{ histitem.user.profile_url }}">{{ histitem.user.name }}</a>

                {{ histitem.reason }}

                <button class="btn diff-button">Show diff</button>
            </p>

        {% else %}
            <p>We don’t have any history for {{ project.name }}. Perhaps someone added it before we were recording history.</p>
        {% endfor %}
    </div>

    {% if history %}
        <script type="text/javascript">
            var oldHistory = {};
            var newHistory = {};
            {% for histitem in history %}
                oldHistory['{{ histitem._id }}'] = {{ histitem.old_data|tojson|safe }};
                newHistory['{{ histitem._id }}'] = {{ histitem.new_data|tojson|safe }};
            {% endfor %}

            $(function () {
                $('#history .histitem .diff-button').click(function () {
                    var $btn = $(this);
                    var $item = $btn.parents('.histitem');
                    var histid = $item.attr('data-hist-id');

                    var oldItem = oldHistory[histid];
                    var newItem = newHistory[histid];
                    var itemDiff = jsondiffpatch.diff(oldItem, newItem);

                    var $show = $item.next('pre');
                    if (!$show.size()) {
                        $show = $('<pre/>');
                        $item.after($show);
                    }
                    $show.text($.toJSON(itemDiff));
                });
            });
        </script>
    {% endif %}

{% endblock %}
